<% if signed_in? && @user.id != current_user.id && current_user.friendships.where(friend_id: @user.id).empty? %>
  <div class="pull-right">
    <%= link_to "Follow", friendships_path(friend_id: @user.id), method: :post, class: "btn btn-info btn-sm" %>
  </div>
  <% elsif signed_in? && @user.id != current_user.id %>
  <div class="pull-right">
    <form action="/friendships/<%= @user.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Following" class="btn btn-info btn-sm follow-btn" data-disable-with="Processing..">
    </form>
  </div>
<% end %>

<div class="media">
  <div class="media-left">
    <%= image_tag @user.image.url(:small), class: "media-object img-circle", alt: "user image" %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @user.username %>'s Profile</h4>
    <p>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></p>
    <p>Followers: <%= @user.inverse_friendships.count %></p>
  </div>
</div>

<h4><%= @user.username %>'s  Algorithms</h4>
<% if @user.posts.empty? %>
  <em><%= empty_state_text(@user) %></em>
<% else %>
  <table class="table table-bordered">
  	<thead>
  		<tr>
  			<th>Title</th>
        <th>Description</th>
  			<th>Likes</th>
  			<th>Created On</th>
        <% if has_permissions(@user.id) %>
          <th>Actions</th>
        <% end %>
  		</tr>
  	</thead>
  	<tbody>
  	<% @user.posts.each do |post| %>
  		<tr>
  			<td><a href="/posts/<%= post.id %>"><%= post.title %></a></td>
        <td><%= post.description %></td>
  			<td><%= post.likes.count %></td>
  			<td><%= post.created_at.to_formatted_s(:long_ordinal) %></td>
        <% if has_permissions(post.user_id) %>
        <td>
          <button data-confirm-modal data-id="<%= post.id %>" data-title="<%= post.title %>" data-toggle="modal" data-target="#confirm-destroy-modal" class="btn btn-danger btn-xs">Delete</button>
        </td>
        <% end %>
  		</tr>
  		<% end %>
  	</tbody>
  </table>
<% end %>

<%= render 'remove_post_confirmation_modal' %>

<script>
  $(document).on('ready', function () {
    $('.follow-btn')
      .mouseenter(function() {
        $(this).removeClass('btn-primary');
        $(this).addClass('btn-warning');
        $(this).val('Unfollow');
      })
      .mouseleave(function() {
        $(this).removeClass('btn-warning');
        $(this).addClass('btn-primary');
        $(this).val('Following');
      });
  });
</script>

<script>
  $(document).on('ready', function () {
    $("[data-confirm-modal]").on('click', function() {
      var postId = $(this).attr('data-id');
      var title = $(this).attr('data-title');

      $('#destroy-button').attr("href", "/posts/" + postId);
      $('.modal-title').html("Delete " + title + "?");
    });
  });
</script>
