<div class="row">
  <div class="col-md-2">
    <div class="profile-wrapper text-center">
      <div class="profile-image">
        <%= link_to(user_path(@user)) do %>
          <%= image_tag @user.image.url(:small), class: "media-object img-circle", alt: "user image" %>
        <% end %>
      </div>
      <div class="profile-details">
        <h3><%= @user.username %></h3>
        <p>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></p>
        <p>Followers: <%= @user.inverse_friendships.count %></p>
      </div>
      <div class="profile-actions">
        <!-- FOLLOWING -->
        <% if signed_in? && @user.id != current_user.id && current_user.friendships.where(friend_id: @user.id).empty? %>
          <%= link_to "Follow", friendships_path(friend_id: @user.id), method: :post, class: "btn btn-info btn-sm btn-block" %>
        <% elsif signed_in? && @user.id != current_user.id %>
          <%= link_to "Unfollow", friendship_path, method: :delete, class: "btn btn-warning btn-sm btn-block" %>
        <% end %>
        <!-- END FOLLOWING -->
      </div>
    </div>
  </div>

  <div class="col-md-10">

    <% if @posts.empty? %>
      <em><%= empty_state_text(@user) %></em>
    <% else %>

    <div class="search-and-filter-wrapper clearfix">
      <div class="pull-right">
        <span>Filter: </span>
        <%= select_tag "post-category-switcher",
            options_for_select(Category.all.map{ |category| [category.name, category.id] },
            selected: params[:category_id]), { include_blank: 'All Algorithms'}
        %>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Likes</th>
          <th>Category</th>
          <th>Created On</th>
          <% if has_permissions(@user.id) %>
            <th>Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><a href="/posts/<%= post.id %>"><%= post.title %></a></td>
          <td><%= post.description %></td>
          <td><%= post.likes.count %></td>
          <td>
            <% unless post.category.nil? %>
              <%= link_to post.category.name, user_path(category_id: post.category.id) %>
            <% end %>
          </td>
          <td><%= post.created_at.to_formatted_s(:long_ordinal) %></td>
          <% if has_permissions(post.user_id) %>
          <td>
            <button data-confirm-modal data-id="<%= post.id %>" data-title="<%= post.title %>" data-toggle="modal" data-target="#confirm-destroy-modal" class="btn btn-danger btn-xs">Delete</button>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <% if params[:category_id] %>
      <div class="div text-center">
        <%= link_to 'Clear filter', user_path(current_user) %>
      </div>
    <% end %>

  </div>
</div>

<%= render 'remove_post_confirmation_modal' %>

<script>
  $('#post-category-switcher').on('change', function() {
    var category_id = $(this).val();
    var user_id = <%= current_user.id %>

    if(!category_id) {
      window.location.href = '/users/' + user_id;
    } else {
      window.location.href = '?category_id=' + category_id;
    }
  });
</script>

<script>
  $(document).on('ready', function () {
    // Confirm modal interactions
    $("[data-confirm-modal]").on('click', function() {
      var postId = $(this).attr('data-id');
      var title = $(this).attr('data-title');

      $('#destroy-button').attr("href", "/posts/" + postId);
      $('.modal-title').html("Delete " + title + "?");
    });
  });
</script>
