<div class="row">
  <div class="col-md-2">
    <div class="profile-wrapper text-center">
      <div class="profile-image">
        <%= link_to(user_path(@user)) do %>
          <%= image_tag @user.image.url(:small), class: "media-object img-circle", alt: "user image" %>
        <% end %>
      </div>
      <div class="profile-details">
        <h3><%= @user.username %></h3>
        <p>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></p>
        <p>Followers: <%= @user.inverse_friendships.count %></p>
      </div>
      <div class="profile-actions">
        <!-- FOLLOWING -->
        <% if signed_in? && @user.id != current_user.id && current_user.friendships.where(friend_id: @user.id).empty? %>
          <%= link_to "Follow", friendships_path(friend_id: @user.id), method: :post, class: "btn btn-info btn-sm btn-block" %>
        <% elsif signed_in? && @user.id != current_user.id %>
          <%= link_to "Unfollow", friendship_path, method: :delete, class: "btn btn-warning btn-sm btn-block" %>
        <% end %>
        <!-- END FOLLOWING -->
      </div>
    </div>
  </div>

  <div class="col-md-10">

    <% if @posts.empty? %>
      <em><%= empty_state_text(@user) %></em>
    <% else %>

      <!-- search-filter -->
      <div class="search-and-filter-wrapper clearfix">
        <div class="pull-right">
          <span>Filter: </span>
          <%= select_tag "post-category-switcher",
              options_for_select(@user.posts.map(&:category).uniq.map{ |category| [category.name, category.id] },
              selected: params[:category_id]), { include_blank: 'All Algorithms'}
          %>
        </div>
      </div><!-- //search-filter -->

      <%= render 'posts/posts' %>

    <% end %>

    <% if params[:category_id] %>
      <div class="div text-center">
        <%= link_to 'Clear filter', user_path(@user) %>
      </div>
    <% end %>

    <div class="pagination-wrapper">
      <%= paginate @posts %>
    </div>

  </div>
</div>

<%= render 'posts/remove_post_confirmation_modal' %>

<script>
  $('#post-category-switcher').on('change', function() {
    var category_id = $(this).val();
    var user_id = <%= @user.id %>

    if(!category_id) {
      window.location.href = '/users/' + user_id;
    } else {
      window.location.href = '?category_id=' + category_id;
    }
  });
</script>
