<!-- Likes Modal -->
<div class="modal fade" id="likesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Liked by</h4>
      </div>
      <div class="modal-body">
        <% @likes.each do |like| %>
          <div class="media" id="likes-modal-media">
            <% if signed_in? && like.user.id == current_user.id
                @path = "/users/profile"
              else
                @path = "/users/#{like.user.id}"
              end
            %>
            <div class="media-left">
              <a href="<%= @path %>">
                <%= image_tag like.user.image.url(:small), class: "media-object", alt: "user image" %>
              </a>
            </div>
            <div class="media-body">
              <a href="<%= @path %>">
                <h4 class="media-heading"><%= like.user.username %></h4>
              </a>
                <p>Followers: <%= like.user.inverse_friendships.count %></p>
                <p>Member since: <%= like.user.created_at.strftime("%B %d, %Y") %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>