<% @posts.each do |post| %>

  <div class="post-wrapper">
    <div class="post-wrapper-inner">

      <div class="action-items-bar">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
        <% unless post.category.nil? %>
          <%= link_to post.category.name, posts_path(category_id: post.category.id), class: "label label-inverted" %>
        <% end %>
        <%= link_to post.difficulty, posts_path(difficulty_level: post.difficulty), class: "label label-inverted" %>

        <!-- post-actions -->
        <% if has_permissions(post.user_id) %>
          <div class="pull-right">
            <div class="dropdown">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-link">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                <li><%= link_to "Edit post", edit_post_path(post) %></li>
                <li role="separator" class="divider"></li>
                <li>
                  <a data-confirm-modal data-id="<%= post.id %>" data-title="<%= post.title %>" data-toggle="modal" data-target="#confirm-destroy-modal">Delete</a>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
        <!-- //post-actions -->
      </div>

      <!-- USER INFO -->
      <div class="post-author-info">
        <div class="media-left">
          <%= link_to(user_path(post.user)) do %>
            <%= image_tag post.user.image.url(:medium), class: "media-object user-image img-circle", alt: "user image" %>
          <% end %>
        </div>
        <div class="media-body">
          <%= link_to post.user.username, user_path(post.user) %>
          <p class="post-meta"><%= post.created_at.strftime("%b %d, %Y") %></p>
        </div>
      </div>

      <!-- POST CONTENT -->
      <section class="post-content">
        <h3 class="post-title"><%= link_to post.title, post %></h3>
        <p class="post-description"><%= link_to post.description, post %></p>
        <%= link_to(post, class: "no-underline") do %>
        <pre class="code-snippet-wrapper"><code class="code-snippet-content js"><%= truncate(post.code, length: 250) %></code></pre>
        <% end %>
        <% if post.code.length > 100 %>
          <div class="read-more-link-wrapper">
            <%= link_to 'View full solution', post %>
          </div>
        <% end %>
      </section>

      <!-- FOOTER SECTION -->
      <div class="post-footer clearfix">
        <div class="pull-left">
          <span class="likes-count"><%= pluralize(post.likes.count, 'like') %></span>
        </div>
        <div class="pull-right">
          <a href="/posts/<%= post.id %>/#comments"><%= pluralize(post.comments.count, 'response') %></a>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $('.code-snippet-content').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
</script>
