<div class="row">
  <div class="col-md-8 col-sm-12">
    <div class="posts-header">
      <h1 id="site-title">Latest Algorithms</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-sm-12 main-content">
    <div class="post">
      <% if @posts.empty? %>
        <em>Didn't find any algorithms...</em>
        <br>
      <% end %>
      <% @posts.each do |post| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <% if signed_in? && current_user.id == post.user.id %>
                    <a href="users/profile">
                  <% else %>
                   <a href="/users/<%= post.user.id %>">
                  <% end %>
                    <%= image_tag post.user.image.url(:medium), class: "media-object", id: "post-user-img", alt: "user image" %>
                  </a>
                </div>
                <div class="media-body">
                  <a href="/posts/<%= post.id %>" id="post-title"><%= post.title %></a>
                  <p class="post-meta"><%= post.created_at.strftime("%B %d, %Y") %> by
                  <%= link_to post.user.username, "#" %>
                  </p>
                </div>
              </div>
              <p>Description: <%= truncate(post.description, length: 150) %></p>
              <a href="/posts?&amp;search=<%= post.category %>" class="tag">
                <span class="label label-primary">#<%= post.category %></span>
              </a>
              <a href="/posts?&amp;search=<%= post.difficulty %>" class="tag">
                <span class="label label-primary">#<%= post.difficulty %></span>
              </a>

              <% @likes = post.likes.includes(:user).limit(15)
                @array = Array.new
              %>

              <% @likes.each do |like|
                @array.push(like.user.username)
               end
              %>

              <span class="label label-default" data-toggle="tooltip" data-placement="top" title="<%= @array.to_sentence_more(5, "others") %>">
                Likes <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= post.likes.count %>
              </span>
              <a href="/posts/<%= post.id %>/#comments">
                <span class="label label-default">
                  Comments <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> <%= post.comments.count %>
                </span>
              </a>
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 sidebar">
    <div class="aside">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Tags</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <% @tags.each do |tag| %>
              <a href="/posts?&amp;search=<%= tag %>" class="tag">
                <span class="label label-warning"><%= tag %></span>
              </a>
            <% end %>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Discover Users</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <% @users.each do |user| %>
              <a href="/users/<%= user.id %>" class="list-group-item">
                <%= image_tag user.image.url(:medium), class: "img-circle", id: "navbar-pic", alt: "user image" %>
                <em><%= user.username %></em>
              </a>
            <% end %>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Discover Algorithms</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <% @algorithms.each do |post| %>
              <a href="/posts/<%= post.id %>" class="list-group-item">
                <%= post.title %> ·
                <small><i><%= post.created_at.to_formatted_s(:month_and_year)  %></i></small>
              </a>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
