<div class="row">
  <div class="col-md-8 col-sm-12">
    <div class="posts-header">
      <h1 id="site-title">Latest Algorithms</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-sm-12 main-content">
    <div class="post">
      <% if @posts.empty? %>
        <em>Didn't find any algorithms...</em>
        <br>
      <% end %>

      <%= render 'posts' %>

      <div class="pagination-wrapper">
        <%= paginate @posts %>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 sidebar">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Discover Users</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% @users.each do |user| %>
            <a href="/users/<%= user.id %>" class="list-group-item">
              <%= image_tag user.image.url(:medium), class: "img-circle", id: "navbar-pic", alt: "user image" %>
              <em><%= user.username %></em>
            </a>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
