<div class="row">
  <div class="col-md-8">
    <div class="posts-header">
      <% if params[:category_id] %>
        <div class="heading-prefix">
          Algorithm Category:
           <%= link_to 'Clear filter', posts_path, class: "pull-right" %>
        </div>
        <h1 class="heading-title"><%= Category.find(params[:category_id]).name %></h1>
      <% elsif params[:difficulty_level] %>
        <div class="heading-prefix">
          Algorithm Difficulty:
          <%= link_to 'Clear filter', posts_path, class: "pull-right" %>
        </div>
        <h1 class="heading-title"><%= params[:difficulty_level] %></h1>
      <% else %>
        <h1 class="heading-title">Latest Algorithms</h1>
      <% end %>
    </div>
  </div>
</div>

<div class="row">

  <!-- MAIN CONTENT (8-Column-Wrapper) -->
  <main class="main-content">
    <div class="post">
      <% if @posts.empty? %>
        <em>Didn't find any algorithms...</em>
        <br>
      <% end %>

      <%= render 'posts' %>

      <div class="pagination-wrapper">
        <%= paginate @posts %>
      </div>
    </div>
  </main>

  <!-- SIDEBAR (4-Column-Wrapper) -->
  <aside class="sidebar">
    <div class="sidebar-content-wrapper">

      <!-- FILTER ALGORITHMS MODULE -->
      <div class="sidebar-module">
        <div class="catelog-preview-header">
          <div class="catelog-preview-name">Categories</div>
          <div class="catelog-preview-description">Filter algorithms by category</div>
        </div>

        <div class="catelog-preview-basic-wrapper">
        <% Category.all.each do |category| %>
          <% unless category.posts.empty? %>
            <%= link_to category.name, posts_path(category_id: category.id), class: "label label-primary" %>
          <% end %>
        <% end %>
        </div>
      </div><!-- // filter-algorithms-module -->

      <!-- FILTER ALGORITHMS MODULE -->
      <div class="sidebar-module">
        <div class="catelog-preview-header">
          <div class="catelog-preview-name">Categories</div>
          <div class="catelog-preview-description">Filter algorithms by difficulty level</div>
        </div>

        <div class="catelog-preview-basic-wrapper">
        <% @levels = ['Easy', 'Medium', 'Hard'] %>
        <% @levels.each do |level| %>
          <%= link_to level, posts_path(difficulty_level: level), class: "label label-primary" %>
        <% end %>
        </div>
      </div><!-- // filter-algorithms-module -->

      <!-- DISCOVER USERS MODULE -->
      <div class="sidebar-module">
        <div class="catelog-preview-header">
          <div class="catelog-preview-name">Discover Users</div>
          <div class="catelog-preview-description">Learn from those around you</div>
        </div>

        <ul class="catelog-preview-items">
        <% @users.each do |user| %>
          <li class="catelog-preview-item">
            <div class="media">
              <%= link_to(user, class: "media-left") do %>
                <%= image_tag user.image.url(:thumb), class: "img-circle user-image media-object", alt: "user image" %>
              <% end %>
              <div class="media-body">
                <%= link_to user.username, user, class: "preview-item-title" %>
                <p class="preview-item-meta"><%= pluralize(user.inverse_friendships.count, "Follower") %><span class="mid-dot-divider"></span><%= pluralize(user.posts.count, "Post") %></p>
              </div>
            </div>
          </li>
        <% end %>
        </ul>
      </div><!-- //discover-users-module -->

    </div><!-- //sidebar-content-wrapper -->
  </aside>
</div>
