<div class="row">
  <div class="col-sm-12">

   <div class="post-wrapper">
    <div class="post-wrapper-inner">
      <!-- post-actions -->
      <% if has_permissions(@post.user_id) %>
        <div class="pull-right">
          <div class="dropdown">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-link">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
              <li><%= link_to "Edit post", edit_post_path(@post) %></li>
              <li role="separator" class="divider"></li>
              <li>
                <a data-confirm-modal data-id="<%= @post.id %>" data-title="<%= @post.title %>" data-toggle="modal" data-target="#confirm-destroy-modal">Delete</a>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
      <!-- //post-actions -->

        <!-- post-info -->
        <div class="post-author-info">
          <div class="media-left">
            <%= link_to(user_path(@post.user)) do %>
              <%= image_tag @post.user.image.url(:thumb), class: "media-object user-image img-circle", alt: "user image" %>
            <% end %>
          </div>
          <div class="media-body">
            <p><%= link_to @post.user.username, user_path(@post.user) %></p>
            <p class="post-meta">Last Updated: <%= @post.updated_at.strftime("%b %d, %Y") %></p>
          </div>
        </div>

        <div class="post-info text-center">
          <h1 class="post-title"><%= @post.title %></h1>
          <div class="tags-bar" style="margin-bottom: 10px">
            <% unless @post.category.nil? %>
              <%= link_to @post.category.name, posts_path(category_id: @post.category.id), class: "label label-inverted" %>
            <% end %>
            <%= link_to @post.difficulty, posts_path(difficulty_level: @post.difficulty), class: "label label-inverted" %>
          </div>

          <p class="post-description text-left"><%= @post.description %></p>
        </div>

        <!-- //post-info -->

        <%= render 'editor' %>

        <!-- post-actions -->
        <div class="post-actions-bar">
          <h3 class="creator-title"><strong>Written by <%= link_to @post.user.username, user_path(@post.user) %></strong></h3>

          <% if signed_in? current_user.likes.where(post_id: @post.id).empty? %>
            <%= link_to(likes_path(id: @post.id), method: :post, class: "btn btn-default btn-sm", title: "Like post") do %>
              <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> <span class="likes-count"><%= pluralize(@post.likes.count, 'Like') %></span>
            <% end %>
          <% elsif signed_in? %>
            <%= link_to(like_path, method: :delete, class: "btn btn-default btn-sm", title: "Unlike post") do %>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class="likes-count"><%= pluralize(@post.likes.count, 'Like') %></span>
            <% end %>
          <% end %>

          <div class="pull-right">
            <a href="#comments"><%= pluralize(@post.comments.count, 'Response') %></a>
          </div>
        </div>
        <!-- //post-actions -->

      </div><!-- //post-wrapper-inner -->
    </div><!-- //post-wrapper -->
  </div><!-- //colum -->
</div><!-- //row -->

<!-- comments -->
<div class="row margin-top-20">
  <a name="comments"></a>
  <div class="col-md-12">
    <h3>Comments (<%= @comments.length %>)</h3>
    <% if @comments.length < 1 %>
      <i>Be the first to comment.</i>
    <% end %>
    <hr>
      <% @comments.each do |comment| %>
    <div class="media">
      <div class="media-left">
        <% if signed_in? && comment.user_id == current_user.id %>
          <a href="/users/profile">
        <% else %>
          <a href="/users/<%= comment.user_id %>">
        <% end %>
          <%= image_tag comment.user.image.url(:thumb), class: "media-object img-circle", id: "post-user-img", alt: "user image" %>
        </a>
      </div>
      <div class="media-body">
        <strong><%= comment.user.username %></strong>
        <%= comment.body %><br>
        <i>Posted <%= distance_of_time_in_words(comment.created_at, Time.new()) %> ago</i>
        <% if current_user && comment.user_id == current_user.id || current_user && @post.user_id == current_user.id %>
          <a href="/comments/<%= comment.id %>" data-method="delete">Delete</a>
        <% end %>
      </div>
    </div>
    <hr>
    <% end %>
    <form action="/comments" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="post[post_id]" value="<%= @post.id %>">
      <div class="form-group">
        <label>Post a Comment:</label>
        <textarea name="post[body]" rows="4" class="form-control"></textarea>
      </div>
      <div class="pull-right">
        <button class="btn btn-success" data-disable-with="Posting..">Post Comment</button>
      </div>
    </form>
  </div>
</div>
<!-- //comments -->

<%= render 'remove_post_confirmation_modal' %>
