<div class="row">
  <div class="col-md-12">
    <% if signed_in? && @post.user_id != current_user.id && current_user.likes.where(post_id: @post.id).empty? %>
      <div class="pull-right">
        <%= link_to "Like", likes_path(post_id: @post.id), method: :post, class: "btn btn-info btn-sm" %>
      </div>
      <% elsif signed_in? && @post.user_id != current_user.id %>
      <div class="pull-right">
        <%= link_to "Unlike", like_path, method: :delete, class: "btn btn-warning btn-sm" %>
      </div>
    <% end %>

    <% if has_permissions(@post.user_id) %>
      <div class="pull-right">
        <%= link_to "Edit Post", edit_post_path, class: "btn btn-info" %>
        <%= link_to "Delete", @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    <% end %>

    <h1><%= @post.title %></h1>

    <span class="label label-default">
      Likes <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= @post.likes.count %>
    </span>
    <a href="#comments">
    <span class="label label-default">
      Comments <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> <%= @post.comments.count %>
    </span>
    </a>
    <div class="star-rating" data-score= <%= @avg_review %> ></div>
      <h5>Posted by:
        <%= link_to(user_path(@post.user_id)) do %>
          <%= @post.user.username %>
        <% end %>
      </h5>
    <h5>Created on: <%= @post.created_at.to_formatted_s(:long_ordinal)  %></h5>
    <h5>Difficulty level: <a href="/posts?&search=<%= @post.difficulty %>"><span class="label label-primary"><%= @post.difficulty %></span></a></h5>
    <h5>Category: <a href="/posts?&search=<%= @post.category %>"><span class="label label-primary"><%= @post.category %></span></a></h5>
    <p>Description: <%= @post.description %></p>
  </div>
</div>

<%= render 'editor' %>

<div class="row">
  <a name="comments"></a>
  <div class="col-md-12">
    <h3>Comments (<%= @comments.length %>)</h3>
    <% if @comments.length < 1 %>
      <i>Be the first to comment.</i>
    <% end %>
    <hr>
      <% @comments.each do |comment| %>
    <div class="media">
      <div class="media-left">
        <% if signed_in? && comment.user_id == current_user.id %>
          <a href="/users/profile">
        <% else %>
          <a href="/users/<%= comment.user_id %>">
        <% end %>
          <%= image_tag comment.user.image.url(:small), class: "media-object img-circle", id: "post-user-img", alt: "user image" %>
        </a>
      </div>
      <div class="media-body">
        <strong><%= comment.user.username %></strong>
        <%= comment.body %><br>
        <i>Posted <%= distance_of_time_in_words(comment.created_at, Time.new()) %> ago</i>
        <% if current_user && comment.user_id == current_user.id || current_user && @post.user_id == current_user.id %>
          <a href="/comments/<%= comment.id %>" data-method="delete">Delete</a>
        <% end %>
      </div>
    </div>
    <hr>
    <% end %>
    <form action="/comments" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="post[post_id]" value="<%= @post.id %>">
      <div class="form-group">
        <label>Post a Comment:</label>
        <textarea name="post[body]" rows="4" class="form-control"></textarea>
      </div>
      <div class="pull-right">
        <button class="btn btn-success" data-disable-with="Posting..">Post Comment</button>
      </div>
    </form>
  </div>
</div>
