<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/common/site_meta_tags' %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
	<%= render 'layouts/common/topnav' %>
	<%= render 'layouts/common/alerts' %>

	<div class="site-container">

    <div class="page-content">
			<%= yield %>
		</div>

		<%= render 'layouts/common/footer' %>
	</div>

</body>
</html>
