<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Algorithm Practice">
	<meta name="author" content="Elliott Hindman">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AlgoApp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/monokai_sublime.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
	<%= render 'layouts/common/navbar' %>
	<%= render 'layouts/common/alerts' %>

	<div class="container site-wrapper">
		<div class="page-content">
			<%= yield %>
		</div>

		<%= render 'layouts/common/footer' %>
	</div>

</body>
</html>
